body {
    background-color: #ffe9d4;
}

h1 {
    font-family: 'Trebuchet MS', sans-serif;
    color: #022add;
    background-color: #fdc288;
}

h2 {
    background-color: #fddab6;
    color: #0b1e74;
}

h3 {
    background-color: #fddab6;
    color: #0b1e74;
}

h4 {
    color: #0c1742;
}

p {
    font-family: Verdana, sans-serif;
    color: #0c1742;
    font-size: 1em;
    margin-left: 5%;
    margin-right: 5%;
}

label {
    font-family: Verdana, sans-serif;
    color: #0c1742;
    font-size: 1em;
}

p.center {
    text-align: center;
}

ul, ol {
    font-family: Verdana, sans-serif;
    color: #0c1742;
    font-size: 1em;
    margin-left: 2%;
    list-style-position: inside;
}

table.default, td.default, th.default {
    font-family: Verdana, sans-serif;
    color: #0c1742;
    border: 1px solid;
    margin-left: 5%;
    margin-right: 5%;
}

table.default {
    border-collapse: collapse;
}

table.navbar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ff8936;
}

th.navbar_title {
    color: #022add;
    font-weight: bold;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.25em;
}

td.technical {
    font-family: 'Courier New', Courier, monospace;
    color: #0c1742;
    border: 1px solid;
}

textarea {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

a:link {
    color: #008cff;
}

a:visited {
    color: #022add;
}

a:hover {
    background-color: #fff460;
    color:#2f125d;
}

a:active {
    color: blue;
    background-color: orange;
}

#homepage {
    background-color: #ffe9d4;
    text-align: center;
}

#ipa_guide_chart {
    max-width: 800px;
}

#ascii_converter {
    text-align: center;
}

#converter_intro {
    text-align: center;
}

img.header_logo {
    max-width: 100px;
    height: auto;
    margin: 0px;
    float:left;
}

p.img_footer {
    font-family: Verdana, sans-serif;
    color: #0c1742;
    margin-top: 0px;
    font-size: 10px;
    margin-left: 5%;
    margin-right: 5%;
}


#directory_title {
    background-color: #fdc288;
}

#directory_title_left_image {
    float: left;
    max-width: 125px;
    margin-right: 10px;
}

#directory_title_right_image {
    float: right;
    max-width: 125px;
    margin-left: 10px;
}

#directory_title_header {
    margin-top: 0px;
    padding-top: 25px;
    text-align: center;
    margin-bottom: 0px;
}

#directory_title_subheader {
    margin-top: 0px;
    text-align: center;
    color: #022add;
    background-color: #fdc288;
    padding-bottom: 0px;
}

#consonant_table_title {
    text-align: center;
    font-size: 30px;
    margin-left: 115px;
    margin-bottom: 0px;
    color: #0c1742;
}

#consonant_table {
    margin-left: 25px;
    margin-bottom: 20px;
}

#consonant_table th {
    max-width: 6ch;
    font-size: 12px;
    word-wrap: break-word;
    background-color: #ffc890;
}

#consonant_table th.corner {
    background-color: transparent;
}

#vowel_table_title {
    text-align: center;
    font-size: 30px;
    margin-left: 3px;
    margin-bottom: 0px;
    color: #0c1742;
}

#vowel_table {
    margin-bottom: 20px;
    margin-right: 25px;
    margin-left: 0px;
}

#vowel_table th.corner {
    background-color: transparent;
}

#vowel_table th {
    font-size: 18px;
    text-align: center;
    word-wrap: break-word;
    background-color: #ffc890;
}

#vowel_table td.left {
    max-width: 6ch;
    font-size: 18px;
    padding-left: 2px;
    text-align: right;
    word-wrap: break-word;
    background-color: #ffc890;
}

#other_consonant_table_title {
    text-align: center;
    color: #0c1742;
    font-size: 20px;
    margin-left: 0px;
    margin-bottom: 0px;
}

#other_consonant_table {
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: auto;
}

#other_consonant_table td.linked{
    font-size: 15px;
}

#other_consonant_table th {
    font-size: 12px;
    word-wrap: break-word;
    background-color: #ffc890;
}

th.corner {
    background-color: transparent;
    max-width: 6ch;
    font-size: 12px;
    word-wrap: break-word;
}

td.possible {
    text-align: center;
    background-color: #fff9c9;
    text-decoration: none;
    font-size: 30px;
    padding-bottom: 5px;
}

td.linked {
    text-align: center;
    background-color: #ffe7a5;
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 5px;
}

td.impossible {
    text-align: center;
    background-color: #b1aea5;
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 5px;
}

td.left {
    text-align: right;
    padding-left: 2px;
    background-color: #ffc890;
    font-size: 16px;
}

a.current {
    color: purple;
    background-color: orange;
}

div.header {
    padding-left:10px;
    margin-top: auto;
    margin-bottom: 5px;
    background-color: #ffb265;
    white-space: nowrap;
}

div.header a{
    float: right;
    margin-top: 35px;
    margin-left: 20px;
    white-space: nowrap;
    font-size: 20px;
}

div.header a.header_logo{
    float: left;
    margin-top: 0px;
    margin-left: 0px;
}

div.header a:hover, a:active{
    font-size: 25px;
}

div.main_content {
    /* 
    Setting the main content to float would defeat the point of the left
    and right sections, so I won't be doing it even though the assignment
    asks for it. I think I've demonstrated that I can use float elsewhere.
    */
    background-color: #ffe9d4;
    padding: 1px;
    align-content: center;
    max-width: 100%;
}

div.left_section {
    float: left;
}

div.right_section {
    float: right;
}

div.footer {
    float:left;
}

td.blank{
    text-align: center;
    text-decoration: none;
    padding-bottom: 5px;
}

a.symbol_link {
    font-size: 30px;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    /*I did not add float since it would disrupt many things
    for an example of being able to do this, see the open book
    images in directory.html*/
    float: none;
    margin: 20px;
}

img.default {
    max-width: 100%;
    height: auto;
    /*I did not add float since it would disrupt many things
    for an example of being able to do this, see the open book
    images in directory.html*/
    float: none;
    margin: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

/*https://stackoverflow.com/questions/2062258/floating-elements-within-a-div-floats-outside-of-div-why*/
span.clear {
    clear: both;
    display: block;
}

#converter_output {
    background-color: white;
    margin-left: 150px;
    margin-right: 150px;
}

p.copyright_footer {
    font-size: 12px;
}

@media only screen and ((max-width: 900px) or (max-aspect-ratio: 1/1)) {
    h1{
        font-size: 50px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 35px;
    }

    div.right_section {
        float: unset;
    }

    div.left_section {
        float: unset;
    }

    table.default, td.default, th.default, td.technical {
        border: 2px solid;
    }

    td.linked, td.possible, td.impossible {
        font-size: 40px;
    }

    a.symbol_link {
        font-size: 40px;
        text-decoration: none;
    }

    div.header{
        padding-bottom: 0px;
        overflow-x: scroll;
    }

    #tipo_input {
        max-width: 98%;
    }

    #consonant_table, #vowel_table, #other_consonant_table {
        margin-bottom: 20px;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    #consonant_table_title {
        text-align: center;
        margin-left: 0px;
    }

    #vowel_table_title {
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }

    #other_consonant_table_title {
        text-align: center;
        font-size: 30px;
        margin-left: 40px;
    }

    #other_consonant_table th {
        font-size: 20px;
    }

    #consonant_table th {
        font-size: 20px;
    }

    #other_consonant_table td.linked{
        font-size: 20px;
    }

    td.left {
        font-size: 20px;
    }
    
    div.right_section {
        float: unset;
    }

    div.left_section {
        float: unset;
    }

    div.header {
        text-align: left;
    }
    
    div.header a{
        float: none;
        display: inline-block;
        text-align: left;
        font-size: 30px;
    }

    div.header a:hover, a:active{
        font-size: 35px;
    }

    ol, ul, p, td, th, textarea{
        font-size: 25px;
    }

    p.copyright_footer {
        font-size: 16px;
    }

    p.img_footer {
        font-family: Verdana, sans-serif;
        color: #0c1742;
        margin-top: 0px;
        font-size: 12px;
        margin-left: 5%;
        margin-right: 5%;
    }

    label {
        font-size: 20px;
    }

    table {
        overflow-x: scroll;
    }

    #converter_output {
        font-size: 30px;
    }
    
    #convert_button {
        font-size: 30px;
    }
    
}
