body {
    background-color: #ffe9d4;
    text-size-adjust: none;
}

h1 {
    font-family: 'Trebuchet MS', sans-serif;
    color: #022add;
    background-color: #f3c89e;
}

h2 {
    background-color: #fddab6;
    color: #0b1e74;
}

h3 {
    background-color: #fddab6;
    color: #0b1e74;
}

h4 {
    color: #0c1742;
}

p {
    font-family: Verdana, sans-serif;
    color: #0c1742;
    font-size: 1em;
}

ul, ol {
    font-family: Verdana, sans-serif;
    color: #0c1742;
    list-style-position: inside;
}

table.default, td.default, th.default {
    font-family: Verdana, sans-serif;
    color: #0c1742;
    border: 1px solid;
}

table.default {
    border-collapse: collapse;
}

table.navbar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ff8936;
}

th.navbar_title {
    color: #022add;
    font-weight: bold;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.25em;
}

td.technical {
    font-family: 'Courier New', Courier, monospace;
    color: #0c1742;
    border: 1px solid;
}

a:link {
    color: #008cff;
}

a:visited {
    color: #120494;
}

#homepage {
    background-color: #ffe9d4;
    text-align: center;
}

#ipa_guide_chart {
    max-width: 800px;
}

#ascii_converter {
    text-align: center;
}

#converter_intro {
    text-align: center;
}

img.header_logo {
    max-width: 100px;
    height: auto;
    margin: 0px;
    float:inline-start;
}

#directory_title {
    background-color: #f3c89e;
}

#directory_title_left_image {
    float: left;
    max-width: 125px;
    margin-right: 10px;
}

#directory_title_right_image {
    float: right;
    max-width: 125px;
    margin-left: 10px;
}

#directory_title_header {
    margin-top: 0px;
    padding-top: 25px;
    text-align: center;
    margin-bottom: 0px;
}

#directory_title_subheader {
    margin-top: 0px;
    text-align: center;
    color: #022add;
    background-color: #f3c89e;
    padding-bottom: 25px;
}

#consonant_table_title {
    text-align: center;
    font-size: 30px;
    margin-left: 100px;
    margin-bottom: 0px;
    color: #0c1742;
}

#consonant_table {
    padding-right: auto;
    padding-left: auto;
    padding-bottom: 20px;
}

#consonant_table th {
    max-width: 6ch;
    font-size: 12px;
    word-wrap: break-word;
    background-color: #f7c797;
}

#consonant_table th.corner {
    background-color: transparent;
}

#vowel_table_title {
    text-align: center;
    font-size: 30px;
    padding-left: 40px;
    margin-bottom: 0px;
    color: #0c1742;
}

#vowel_table {
    padding-bottom: 20px;
    padding-right: 40px;
}

#vowel_table th.corner {
    background-color: transparent;
}

#vowel_table th {
    font-size: 18px;
    text-align: center;
    word-wrap: break-word;
    background-color: #f7c797;
}

#vowel_table td.left {
    font-size: 18px;
    padding-left: 5px;
    text-align: right;
    word-wrap: break-word;
    background-color: #f7c797;
}

#other_consonant_table_title {
    text-align: center;
    color: #0c1742;
    font-size: 20px;
    margin-bottom: 0px;
}

#other_consonant_table {
    padding-bottom: 20px;
}

#other_consonant_table td.linked{
    font-size: 15px;
}

#other_consonant_table th {
    font-size: 12px;
    word-wrap: break-word;
    background-color: #f7c797;
}

th.corner {
    background-color: transparent;
    max-width: 6ch;
    font-size: 12px;
    word-wrap: break-word;
}

td.possible {
    text-align: center;
    background-color: #f7f0dc;
    text-decoration: none;
    font-size: 30px;
    padding-bottom: 5px;
}

td.linked {
    text-align: center;
    background-color: #ffe7a5;
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 5px;
}

td.impossible {
    text-align: center;
    background-color: #b1aea5;
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 5px;
}

td.left {
    text-align: right;
    padding-left: 5px;
    background-color: #f7c797;
    font-size: 16px;
}

a.header_link {
    display: inline-block;
    margin-top: 35px;
    margin-left: 20px;
    margin-bottom: 35px;
    white-space: nowrap;
    font-size: 20px;
}

a.current {
    background-color: #d4ad85;
    color:#2f125d;
}

a:hover {
    background-color: #fff460;
    color:#2f125d;
}

div.header {
    padding-left:10px;
    margin-top: auto;
    padding-bottom: 100px;
    margin-bottom: 5px;
    background-color: #f3c596;
    white-space: nowrap;
}

div.header a{
    float: right;
    margin-top: 35px;
    margin-left: 20px;
    margin-bottom: 35px;
    white-space: nowrap;
    font-size: 20px;
}

div.main_content {
    /* 
    Setting the main content to float would defeat the point of the left
    and right sections, so I won't be doing it even though the assignment
    asks for it. I think I've demonstrated that I can use float elsewhere.
    */
    background-color: #ffe9d4;
    padding: 1px;
    align-content: center;
    max-width: 100%;
}

div.left_section {
    float: left;
}

div.right_section {
    float: right;
}

div.footer {
    float:left;
}

td.blank{
    text-align: center;
    text-decoration: none;
    padding-bottom: 5px;
}

a.symbol_link {
    font-size: 30px;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    /*I did not add float since it would disrupt many things
    for an example of being able to do this, see the open book
    images in directory.html*/
    float: none;
    margin: 20px;
}

@media only screen and (max-width: 900px) {
    div.right_section {
        float: unset;
    }

    div.left_section {
        float: unset;
    }
    
    #consonant_table {
        padding-bottom: 20px;
        padding-left: auto;
        padding-right: auto;
        border: black 1px;
    }

    th.corner {
        background-color: transparent;
    }

    td.linked {
        font-size: 15px;
    }
    
    td.possible {
        font-size: 20px;
    }
    
    td.impossible {
        font-size: 20px;
    }
    
    #vowel_table {
        margin-bottom: 20px;
        padding-left: auto;
        padding-right: auto;
    }
    
    #other_consonant_table {
        margin-bottom: 20px;
        padding-left: auto;
        padding-right: auto;
    }

    a.symbol_link {
        font-size: 20px;
        text-decoration: none;
    }

    div.header{
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 900px) {
    div.header a{
        float: none;
        display: inline-block;
    }

    p{
        font-size: 20px;
    }
}
